.how-card {
    width: 200px;
    height: 230px;
    background-color: white;
    margin: 0 1em;
    padding: 1em 0.5em;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.howcard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1em;
}

.how-title {
    padding: 0.2em;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.step-wrapper {
text-align: left;
}

@media screen and (max-width: 768px) {
    .how-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .how-card {
        width: 230px;
        margin: 20px 0;
        
    }

    .howcard-content {
        flex-direction: column;
        align-items: center;
    }

    .step-wrapper {
        text-align: center;
    }
    
}
