.listingsheader-container {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 1em;
    max-width: 930px;
}

.listingsheader-container h1 {
    font-size: 37px;
    text-transform: uppercase;
}

.view-default {
    text-align: center;
    margin: 10px auto;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.view-default:hover {
    color: #008080;
    cursor: pointer;
    text-decoration: underline;
}

.listings-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw;
    max-width: 930px;
    margin: auto;
}

.pagination-container {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    margin: 0 auto;
    max-width: 50vw;
}

.next-btn,
.previous-btn {
    background: #008080;
    padding: 1vw 0;
    color: white;
    border-radius: 10px;
    margin: 0 1em;
    width: 110px;
    box-shadow: 1px 2px 1px 1px rgb(85 128 133 / 50%);
}

@media screen and (max-width: 640px) {
    .listingsheader-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 40vw;
        padding: 1em 1em;
    }

    .listingsheader-container h1 {
        font-size: 30px;
        text-align: center;
    }

    .listings-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pagination-container {
        max-width: 100vw;
    }
}
