.singlelisting-card {
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffdfc852;
    border: 1px solid #0f766e;
}

.singlelisting-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.singlelisting-title-seller-bids {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.singlelisting-title {
    font-size: 25px;
    text-transform: capitalize;
}

.singlelisting-img-wrapper {
    height: 100vh;
    max-width: 50%;
}

.singlelisting-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: top;
    border-right: 1px solid #0f766e;
}

.singlelisting-info-wrapper {
    width: 45%;
    max-width: 415px;
    margin: 0 auto;
    padding: 0px 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description-wrapper h3 {
    text-decoration: underline;
}

.description-wrapper .countdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f44336;
    color: white;
    text-transform: lowercase;
    border-radius: 0px 0px 5px 5px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 1px 2px 0px 0px #b09a6185;
}

.item-description {
    margin: 10px auto 0px;
    padding: 1.5em 0.5em;
    background: white;
    border-radius: 5px 5px 0px 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 1px 3px 0px 0px #b09a6185;
}

.seller-created-bids-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seller-created-bids-wrapper p {
    font-size: 15px;
}

.placebid-btn {
    padding: 10px 15px;
    width: 35%;
    background: #008080;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #b09a6185;
    transition: all 0.3s ease-in-out;
}

.placebid-btn:hover {
    background-color: #134e4a;
    transition: all 0.3s ease-in-out;
}

.singlelisting-end {
    text-align: end;
}

@media screen and (max-width: 640px) {
    .singlelisting-content {
        height: 100%;
        flex-direction: column;
    }

    .singlelisting-img-wrapper {
        height: 50vh;
        max-width: 100%;
    }

    .singlelisting-img {
        border-right: none;
        border-bottom: 1px solid #0f766e;
        border-right: none;
        object-position: center;
    }

    .singlelisting-info-wrapper {
        height: 100%;
        width: 100%;
        max-width: 515px;
        margin: 20px auto;
        padding: 0px 1em;
    }

    .singlelisting-title-seller-bids {
        justify-content: space-evenly;
        margin: 15px 0;
    }

    .seller-created-bids-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .seller-created-bids-wrapper p {
        font-size: 16px;
    }

    .placebid-btn {
        margin: 20px auto;
        width: 100%;
    }
}
