.hero-container {
    display: block;
    background-color: #ffdfc8;
    min-height: 80vh;
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
}

.hero-text-wrapper {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    margin: 4.5em 0;
}

.hero-tagline {
    margin: 0.5em 0;
}

.hero-subtext {
    margin: 1em 0;
}

.hero-image-wrapper {
    width: 35%;
    margin: 1em auto;
}

/*@media screen and (max-width: 640px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-img-wrapper {
        width: 100%;
    }

    .hero-text-wrapper {
        width: 100%;
    }
    
}*/
