/* listingform.css */
.new-listingform {
    height: 75vh;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-listing-header {
font-size: 20px;
text-transform: uppercase;
text-align: center;
margin: 5px auto;
}

.new-listingform-content {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
}

.newlisting-inputfield {
    width: 90%;
    font-size: 14px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.endsat-newlistingform {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    color: red;
}

.create-listing-btn {
    background-color: #25a427;
    color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 90%;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.create-listing-btn:hover {
    background-color: #155415;
}

/* Placeholder color */
::placeholder {
    color: #999;
}