.how-section {
    min-height: 25vh;
    margin: 0 auto;
    background: #adde95;
}

.how-section-content {
    padding: 2.5em 0;
}

.how-wrapper {
    width: 80vw;
    display: flex;
    margin: 2em auto;
    align-items: center;
    justify-content: space-evenly;
}

.how-header {
    text-align: center;
    font-size: 20px;
}
