.home-register-cta {
    height: 75vh;
    margin: 4em auto;
    display: flex;
    background-image: url("../../assets/images/lessnew.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.register-cta-btn {
    border-radius: 10px;
    font-size: larger;
    background: white;
    border: 2px solid black;
    padding: 15px 40px;
    margin: 0 auto;
}
