.about-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 30vh;
    background-color: #9fd3e4;
}

.aboutus-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 3em auto;
    align-items: center;
    justify-content: center;
}

.about-img-wrapper {
    width: 40%;
    margin: 0 1em;
}

.about-img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-style: ridge;
    border-radius: 5%;
    object-fit: cover;
}

.about-text-wrapper {
    width: 60%;
    margin: 0 3em;
}

.about-text {
    margin: 0.9em 0;
}

@media screen and (max-width: 640px) {
    .about-section {
        align-items: center;
    }

    .aboutus-wrapper {
        flex-direction: column;
        width: 100%;
        margin: 2em auto;
        align-items: center;
    }

    .about-img-wrapper {
        width: 90%;
        margin: 0.5em auto;
    }

    .about-text-wrapper {
        width: 90%;
        margin: 1em auto;
        text-align: center;
    }

    .about-text {
        margin: 0.5em 0;
    }
}
