.home-ctaregister-section {
    background-color: #d8ffc2;
    min-height: 40vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.register-cta-content {
    text-align: center;
    margin: auto;
    width: 45vw;
    padding: 3em 0;
}

.register-cta-pitch {
    font-weight: 300;
    margin: 1em auto;
}

.register-cta-btn-container {
    display: flex;
    justify-content: center;
}

.register-cta-btn {
    background: #f44336;
    color: white;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: 2px 3px 0px 0px #92b57e;
    transition: all 0.3s ease-in-out;
}

.register-cta-btn:hover {
    background: #b33026;
}

@media screen and (max-width: 640px) {
    .register-cta-content {
        width: 90vw;
    }
    
}
