.main-footer {
    background-color: white;
    padding: 2.5em 0;
    width: 100vw;
}

.footer-content {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.footer-right {
    width: 20%;
    height: 100%;
}
.footer-middle {
    width: 40%;
    height: 100%;
}

.footer-links-container a:hover {
    color: #008080;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.footer-left {
    width: 35%;
}

.footer-logo-wrapper {
    width: 65%;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
}

.footer-links-container a {
    margin: 0.5em 0;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}


.email-container a:hover {
    color: #008080;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
   
}
.github-container {
    width: 20%;
    transition: all 0.3s ease-in-out;
}

.github-container:hover {
    rotate: -60deg;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 670px) {

    .main-footer {
        padding: 1.5em 0;
        width: 85vw;
        margin: auto;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-right,
    .footer-middle,
    .footer-left {
        width: 100%;
        margin-bottom: 2em;
    }

    .footer-logo-wrapper {
        width: 35%;
        margin: auto;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links-container {
        align-items: center;
    }

    .email-container {
        text-align: center;
    }

    .github-container {
        margin: 2em auto 0px;
        width: 20%;
    }

    .footer-links-container a {
        font-size: 1.1em;
    }
}
