.change-avatar-btn {
    margin: 0.5em auto;
    width: 100%;
    padding: 0.2em 1.6em;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #008080;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
