.profile-card {
    width: 20vw;
    max-width: 255px;
    margin: 1.5em 0px;
}

.profile-card-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.personalia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name {
    font-size: 1.7vw;
}

.profile-email {
    font-size: 14px;
}

.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-img-wrapper {
    width: 125px;
    height: 125px;
    margin: 0.5em auto;
}

.profile-avatar {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    object-fit: cover;
}

.credit-container {
    display: flex;
    background: #ffa50047;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid orange;
    border-style: double;
    align-items: center;
    justify-content: center;
    margin: 3em auto;
}

.current-credits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
